@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, University of Greenwich Students and Staff</h1>
    <p>Your Voice, Your Ideas: Shape the Future at Greenwich</p>

    <img src="~/images/Welcome.jpg" alt="Welcome to Greenwich Vietnam" style="width:100%; max-width: 100%;">
</div>

